@import 'helpers/em_function';
@import './bower_components/susy/sass/susy';
@import './bower_components/bourbon/app/assets/stylesheets/bourbon';

/* variable */

$ungu : #7F4AA2;
$hijau : #BCF4C2;
/* header */

#header {
	background: $ungu;
	height: em(50);
	line-height: em(50);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;

	h1 {
		font-weight: 500;
		height:inherit;
		left: em(20);
		
		margin: 0;
		padding: 0;
		position: absolute;
		top: inherit;

		a {
			font-size: em(18);
			text-decoration: none;
			
		}
	}
	
	nav {
		height:inherit;
		line-height: inherit;
		position: absolute;
		right: em(20);
		top: inherit;
		vertical-align: middle;

		> ul{
			list-style: none;
			
			margin: 0;
			padding-left: 0;

			> li {
				
				display: inline-block;
				margin: 0;
				padding:0;
				

				a {
					@include transition(color 0.2s ease-in-out);
					color: $hijau;
					display: block;
					text-decoration: none;
					padding-left: 1em;
					padding-right: 1em;

				}

				a:hover{
					color:white;
				}
			}
			li:first-child{
				margin-left: 0;
				}
		}
	}
	.container{
		position: relative;

		h1 {
			left: 0;
		}

		nav {
			right: 0;
		}
	}
}

/* banner */

	#banner{
		background-color: #666;
		background: url("../img/bg.jpg") no-repeat center center;
		background-size: cover;
		text-align: center;
		position: relative;
		padding: 14em 0;
		max-height: 100%;
		height: 90vh;
		}




















