@import 'helpers/em_function';
@import './bower_components/susy/sass/susy';
@import './bower_components/bourbon/app/assets/stylesheets/bourbon';

/* variable */

$ungu : #7F4AA2;
$hijau : #43D854;
/* header */

#header {
	background: white;
	color: $ungu;
	height: em(50);
	left: 0;
	line-height: em(50);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;

	h1 {
		font-weight: 500;
		height:inherit;
		left: em(20);
		line-height: inherit;
		margin-right: 0;
		padding: 0;
		position: absolute;
		top: inherit;

		a {
			font-size: em(20);
		}
	}
	
	nav {
		height:inherit;
		line-height: inherit;
		position: absolute;
		right: em(20);
		top: inherit;
		vertical-align: middle;
	}
}