@import 'helpers/em_function';
@import './bower_components/susy/sass/susy';
@import './bower_components/bourbon/app/assets/stylesheets/bourbon';


body{
	background: url('../img/bg.jpg') no-repeat center center fixed;		
}

.container-fluid{
	@include container(100%);
}

.navbar-row{
	@include container(em(1200px))
}
nav a{
	text-decoration: none;
	color: #50E3C2;
}
nav .logo, nav ul{
	@include display(flex);
	@include align-items(stretch);
	height: em(50px);
	margin:0;

	


}
nav .logo{
	float: left;
	a {
		line-height: em(40px);
		font-size: em(20px);
		padding-left:(15px);

	}
}

nav .logo a:hover{
	color:white;
	@include transition(color 0.1s ease-out 0s)
}
nav ul {
	float: right;
	list-style: none;
	margin: 0;
	padding:0;
	

	li a{
		line-height:em(50px);
		display: block;
		list-style: none;
		
		padding-left: em(15px);
    	padding-right: em(15px);
		:hover{
			border-bottom: em(2px);
			@include transition(background)
		}
		

	}

}

